.postform{
    border: 2px solid darkslategray;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 1.25rem;
    border-radius: 2rem;
}
.postpost{
    min-width: 90%;
    box-sizing: border-box;
    max-width: 90%;
    min-height: 3rem;
    max-height: 10rem;
    resize: grabber;
    padding: .25rem 1rem
}
.locationlocation{
    width: 90%;
}

.commentcomment{
    min-width: 24rem;
    box-sizing: border-box;
    max-width: 24rem;
    min-height: 5rem;
    max-height: 10rem;
    padding: .25rem 1rem
}

.postabout{
    border: 2px solid darkslategray;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 2rem auto;
    padding: 1.25rem;
    border-radius: 2rem
}

.posts{
    width: 60%;
}

#editbutt {
    background-color: white;
    border: 0px
}

#listlikes {
    position: relative;
    background-color: white;
    border: 0px;
    text-decoration: none;
    color: darkslategray
}

#listlikes:hover{
    color: black
}