.like {
    position: relative;
    margin: 1.5rem;
    text-decoration: none;
    color: blue
}

.like:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -.5rem;
    left: 0;
    background-color: blue;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}


.like:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.unlike {
    position: relative;
    margin: 1.5rem;
    text-decoration: none;
    color: red
}

.unlike:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -.5rem;
    left: 0;
    background-color: red;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}


.unlike:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.profilecontainer{
    width: 75%;
    margin: 0 15% 0 0 
}
@media screen and (max-width: 1100px){
    .profilecontainer{
        width: 100%;
        margin: 0
    }
}

.sidebar{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
#listlikes{
    line-height: 1.75rem;
}

.borderPosts{
    border: 1px solid grey;
    margin-bottom: 20px;
    padding-bottom: 20px;
} 

.explore{
    border: 2px solid darkslategray;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 2rem auto;
    padding: 1.25rem;
    border-radius: 2rem
}
@media screen and (max-width: 850px){
    .explore{
        width: 100%
    }
}
@media screen and (max-width: 550px){
    .explore{
        width: 95%;
        max-height: 80%
    }
}

.redfollow{
    background-color: lightcoral;
    border-radius: 3rem;
    padding:.25rem;
    cursor: pointer;
}

.blueunfollow{
    background-color: lightblue;
    border-radius: 3rem;
    padding:.25rem;
    cursor: pointer;
}

.likeflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.likename{
    width: 50%; 
    height: 100px
}
.butbut{
    width: 15%;
    position: absolute;
    right: 25px;
}
.head{
    display:flex;
    justify-content: space-around;
    width: 15%;
    flex-direction: column;
}

