.sidebarcont{
    width: 13%;
    /* height: 200px; */
    right: 0;
    margin-right: 2%;
    border-radius: 2rem;
    max-height: 250px;
    overflow-y:auto;
}

::-webkit-scrollbar {
    display: none;
}

.hideside {
    visibility: hidden;
}

.closer{
    position:fixed;
    right: .5rem;
}

.fixed{
    position: fixed;
    padding: .5% 0;
    border: 2px solid red
}

.scrolly {
    position: absolute;
    padding: .5% 2%;
    border: 2px solid green
}

.sidebarflex{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
}

.userssidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postssidebar{
    display: flex;
    flex-direction: column;
    /* margin: -1rem */
}

.sidebarbuttons{
    display:flex;
    justify-content: space-around
}

.sidebar{
    margin: .35rem 1.25rem;
}

.fullbar{
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

.postside{
    margin-top: 300px
}

.pin{
    margin-top: 30px;
}

.view{
    margin-top: 60px;
}

.titleside{
    text-align: center;
}

.titlesides{
    margin-left: 12.5%
}