.sidebarcont{
    width: 20%;
}

.sidebarflex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.userssidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar{
    margin: .25rem 1.25rem
}