.sidebarcont{
    width: 13%;
    /* height: 200px; */
    right: 0;
    margin-right: 2%;
    border-radius: 2rem;
    max-height: 300px;
    overflow:auto
}

.hideside {
    visibility: hidden;
}

.closer{
    position:fixed;
    right: .5rem;
}

.fixed{
    position: fixed;
    padding: 2.5%;
    border: 2px solid red
}

.scrolly {
    position: absolute;
    padding: 2.5%;
    border: 2px solid green
}

.sidebarflex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userssidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebarbuttons{
    display:flex;
    justify-content: space-around
}

.sidebar{
    margin: .35rem 1.25rem;
}